<h2>請修改支出</h2>
<form action="/records/{{record._id}}?_method=PUT" method="POST">
 <label for="name">名稱：</label>
  <input name="name" id="name" type="text" required>
  <label for="date">日期：</label>
  <input name="date" id="date" type="date" placeholder="2023/xx/xx"required>
  <label for="category">類別：</label>
  <input list="categorys" class="form-control" name="category" id="category">
  <datalist id="categorys">
    <option>家居物業</option>
    <option>交通出行</option>
    <option>休閒娛樂</option>
    <option>餐飲食品</option>
    <option>其他</option>
  </datalist>
  <label for="amount">金額：</label>
  <input name="amount" id="amount" type="number" min="0" required>
  <button type="submit">送出</button>
</form>